

.sidebar{
    margin-top: 0px;
    width: 40%;
    flex-direction: column;
    padding: 1rem;
    margin-right: 2rem;
    background-color: darken($color: #0e0f1d, $amount: 1);
    border-radius: 1rem;
    li{
        color: rgb(116, 116, 116);
        font-size: 17px;
        padding: 1rem;
        cursor: pointer;
        width: 90%;
        transition: background-color 1s;
        display: flex;
        &:hover{
            background-color: lighten($color: #0e0f1d, $amount: 10);
        }
        p{
            width: 90%;
        }
        div{
            text-align: center;
            width: 10%;
            height: 2rem;
            button{
                @include ButtonStyle(){
                    border-radius: .25rem;
                    margin-top: 0rem;
                    height: 3rem;
                    width: 10%;
                    border-color: transparent;
                    padding: 0px;
                    margin-bottom: 2rem;
                    margin-right: 0.3rem;
                }
            }
        }
    }
    input{
        @include InputStyle(){
            width: 100%;
            height: 3.7rem;
        }   
    }
    button{
        @include ButtonStyle(){
            border-radius: .25rem;
            margin-top: 1rem;
            height: 3rem;
            width: 100%;
            margin-bottom: 2rem;
            margin-right: 0.3rem;
        }
        
    }
}